<section class="stickyfooter">
  <div class="stickyfooter__inner">
    <span class="stickfooter__intro">{{ intro_text }}</span>

    <span class="stickyfooter__button__wrapper">
      <a class="button stickyfooter__button" href="{{ button_url }}">{{ button_label }}</a>
    </span>

    {#<span class="stickyfooter__outro">{{ outro_text }}</span>#}
  </div>

  <button class="stickyfooter__close"><i class="far fa-times-circle" aria-label="{{ "Close"|t }}"></i></button>
</section>